


#header {
	position: fixed;
	background-color:white; 
	height:40px; 
	width:100%;
	z-index: 2;
	top:0;
}
#header span {
	padding-right:5%;
	padding-left: 5%;
	top:5px;
	position: relative; 
	left:15%;

}


nav {
	position: fixed;
	width:100%;
	height:90px;
	background-color:black; 
	opacity: 0.7;
	top: 40px;
	z-index: 10;
} 
nav li {
	display: inline-block;
	padding:25px 10px;
	color:white;
	left:15%;
	position: relative;
	

} 
nav li:last-child {
	color:#FF9D00;
	border:1px solid white; 
	border-radius: 4px;
	padding: 5px 10px;
}
nav li:hover {
	color:#FF9D00;
	cursor:pointer;
} 

#napkin {
	display: none;
	position: fixed;
	top:-28px;
	z-index: 101;
}
 
 #first {

 	position: relative;
 	top:0px;
 	height:700px;
 	background-image: url('bg.jpeg');
 	background-size: cover;
 	
 }

 #text {
 	position: relative;
 	top:200px;
 	
 	color: white;
 	font-weight: bolder;
 	font-family: Times New Roman;
 	letter-spacing: 3px;
 	padding: 10px;
 	
 	text-align: center;
 }
 #text h1 {
 	font-weight: bolder;
 	font-size: 52px;
 }
 #text span {
 	border: 2px solid white;
 	padding: 10px 20px;
 	margin-top:10px; 
 }
#aboutus {
	height:300px;
	position: relative;
	
	top:132px;
	width:100%;
	letter-spacing: 2px;
	opacity: 0;
	
}

img[src='pic1.jpg'] {
	width:35%;
	position: absolute;
	top:240px;
	left:20px;
	padding:5px;
	border:1px solid #021a40;
   background-color:white;
	transform:rotate(350deg);
}

img[src='pic2.jpeg'] {
	position: absolute;
	top:240px;
	left:50px;
	z-index: 2;
	padding:5px;
	border:1px solid #021a40;
   background-color:white;
	border:2px solid gray;
-webkit-box-shadow: 17px 19px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 19px 9px 0px rgba(0,0,0,0.75);
box-shadow: 17px 19px 9px 0px rgba(0,0,0,0.75);
width:35%;
}



#aboutus p {
	width:35%;
	display: inline-block;
	top:80px;
	position: absolute;
	left:55%;
	z-index: 1;

} 
#aboutus button {
	top:280px;
	position: relative;
	left:60%;
	  background: #FF9D00;
  background-image: -webkit-linear-gradient(top, #FF9D00, #f0d1a3);
  background-image: -moz-linear-gradient(top, #FF9D00, #f0d1a3);
  background-image: -ms-linear-gradient(top, #FF9D00, #f0d1a3);
  background-image: -o-linear-gradient(top, #FF9D00, #f0d1a3);
  background-image: linear-gradient(to bottom, #FF9D00, #f0d1a3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#aboutus button:hover {
  background: #f08741;
  background-image: -webkit-linear-gradient(top, #f08741, #e66c81);
  background-image: -moz-linear-gradient(top, #f08741, #e66c81);
  background-image: -ms-linear-gradient(top, #f08741, #e66c81);
  background-image: -o-linear-gradient(top, #f08741, #e66c81);
  background-image: linear-gradient(to bottom, #f08741, #e66c81);
  text-decoration: none;
}
#aboutus p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}
img[src='chefs.png'] {
display: none;
}
#meals {
	position: relative;
	height:700px;
	background-image:url('meals.jpeg');
	background-size: cover;
	top:300px;

}
#recipes {
	top:50px;
	left:5%;
	text-align: justify;
	position: relative;
	background-color: white; 
	width:650px;
	height: 480px;
	padding: 0 5px;
-webkit-box-shadow: 18px 14px 5px 0px rgba(3,3,3,1);
-moz-box-shadow: 18px 14px 5px 0px rgba(3,3,3,1);
box-shadow: 18px 14px 5px 0px rgba(3,3,3,1);

font-family: Times New Roman;
    




}
#tab1 {
	float:left;
	color:green;
	width:45%;
	padding: 10px;
	
}

#tab2 {
	float:right;
	width:50%;
	padding: 10px;
	
} 
#recipes h2, h3  {
	text-align: center;
	font-family: 'Gaegu', cursive;
}

#menu {
	height:75%;
	text-align: center;
	position: relative;
	top:303px;
	font-family: 'Hi Melody', cursive;
}
#menu h1 {
	font-size: 43px; 
	position: relative;
	top:40px;
}
#pics {
	
	position: relative;
	top:50px;
	
}
#pics img {
	padding: 2px 0;
	width:35%;
}

#table {
	position: relative;
	height: 1200px; 
	background-image: url("bg2.jpeg");
	top:450px;
} 
#table h1 {
	text-align: center;
	position: relative;
	top:20px;
}

#menu1 {
	position: relative;
	top:60px;
	left:30px;
	float: right;
	width:100%;
}
 img[src='wine.jpg'] {
	
	position: absolute;
	top:10px;
	left:0;

}

#menu1 div {
	
	position: absolute;
	display: inline-block;
	top:80px;
	left:20px;
	height:400px;
	width:80%;
	background-color: #E8D3CA;
	 border:1px solid gray;
	 z-index: 1;
	 font-size:18px;
	 overflow: scroll;
} 
#menu1 h2 {
	text-align: center;
	font-family: 'Indie Flower';
}
#menu1 ul {
	 list-style-image:url('wine.png');
	 position: relative;
	 left:10px;



}
#menu1  li, #menu2 li {
	padding: 10px ;
	font-family: 'Indie Flower';
} 
 
 #menu2 img{
 	position: relative;
 	top:560px;
 	left:20px;

 	
 }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#menu2 div {
	
position: absolute;
	display: inline-block;
	top:700px;
	left:50px;
	height:400px;
	width:80%;
	background-color: white;
	border:1px solid gray;
	 overflow: scroll;

}
#menu2 h2 {
	text-align: center;
	font-family: 'Indie Flower';
}
#menu2 ul {
	 list-style-image:url('sandwich.png');
	 position: relative;
	 left:10px;


}

#app {
width: 100%; 
height: 600px;
background-image: url('flower.jpeg');
position: relative;
top:450px;
} 

#app h1 {
	position: relative;
	top:50px;
	left:20px;


	

}
#app h3 {
	position: absolute;
	top:260px;
	left:130px;
	z-index: 2;

}
#app img[alt='phone'] {
	position: absolute;
	top:170px;
	height:98%;
	left:0;
	width: 400px;
	height:400px;
}
#app img[alt='icon'] {
	position: absolute;
	top:300px;
	left:140px;
	z-index: 3;
	
}

#app img[src='apple.png']{
	position: absolute;
	left:320px;
	top:100px;
} 
#app img[src='android.png']{
	position: absolute;
	left:390px;
	top:100px;
} 

#last {
	font-size: 20px;
	
	position: relative;
	background-color: #636363;
	top:450px;
	width: 100%;
	height: 300px;
	border-top:1px solid #FF9D00;

} 
pre {
	position: absolute;
	top:20px;
	left:50%;
	color:white;
}
#last span {
	position: relative;
	top:70px;
	color:white;
	left:0;
	font-family: Arial black;
} 
body {
	overflow-x: hidden;
}
#footer {
	position: absolute;
	bottom:0;
	width:100%;
	background-color:black;
	color:white;
	text-align: center;
	font-size: 18px;
	height: 50px;
	font-family: 'Hi Melody';
	border-top:1px solid #FF9D00;
}
.detached {
	display:none;
} 
.container-fluid, .row {
	margin:0;
	padding:0;
}


}



}


